body {
    font: 20px Arial, sans-serif;
    background-color: #F2F2F2;
}

.navbar {
    background-color: #424E5A;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.quemsomos {
    background-color: #B9CDE3;
    color: white;
    border-radius: 8px;
    margin-top: 100px;
    margin-bottom: 25px;
}

.margin {
    font: Helvetica;
    padding-top: 10px;
}

.parceiros {
    background-color: #B9CDE3;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 120px;
    padding-top: 15px;
    padding-bottom: 30px;
    color: white;
}

.servicos {
    background-color: #B9CDE3;
    border-radius: 8px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    color: white;
}

.img-modelo {
    border-radius: 8px;
}

footer {
    background: #1F2126;
    padding: 70px 0px 70px 0px;
    position: relative;
    height: auto;
}

.nome-dev {
    color: white;
}

